/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Colors */
:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }

/* General configs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background {
    width: 100%;
}

.container {
    width: 1200px;
    max-width: 1200px;
}

/* Css main */
.banner { 
    background-image: url(/assets/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
}

.banner header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .logo {
    width: 250px;
}

.banner header nav ul {
    display: flex;
    gap: 100px;
    list-style: none;
}

.banner header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.2s;
}

.banner header nav ul li a:hover {
    color: var(--color-logo);
}

.banner header .button {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.2s;
}

.banner header .button:hover {
    background-color: var(--color-logo);
    color: white;
}

/* Banner content */

.banner-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.banner-content .content {
    color: white;
    font-size: 18px;
}

.banner-content .two-columns {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.banner-content .content img {
    margin-top: 60px;
}


.banner-content .title {
    color: white;
    font-size: 30px;
    
}

.banner-content .title-color {
    color: var(--color-logo);
}

.banner-content .explorer img {
    width: 220px;
    transition: all 2.5s;
}

.banner-content .explorer img:hover {
    transform: rotate(360deg);
}

/* Images */

.galery-images {
    margin: auto;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.galery-images img {
    border: 2px solid white;
    transition: all 0.5s;
}

.galery-images img:hover {
    transform: scale(0.9);
}

/* Informations */

.sec-information {
    background-color: var(--body-background);
    padding: 50px 15%;
    display: flex;
}

.sec-information .informations {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 2px solid grey;
    flex: 1;
}

.sec-information .informations .box h3 {
    color: white;
    font-size: 30px;
}


.sec-information .informations .box p {
    color: var(--text-color);
}

.information-banner {
    overflow: hidden;
}

.information-banner .content {
    flex: 4;
    display: flex;
    padding: 0 60px;

}

.information-banner div {
    flex: 1;
    color: white;
}

.banner-info {
    width: 100%;
    margin-top: 30px;
    height: 200px;
    object-fit: cover;
}



